body{
    background: white;
}

.wrapper
{
    font-family:trebuchet ms, helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.VLB_h1
{
    font-size: 2.2em;
    font-weight: bold;
    color: #900;
}
.VLB_h2
{
    font-size: 1.8em;
    font-weight: bold;
    color: #900;
}

.VLB_p
{
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5em;
    text-align: justify;
}


.VLB_p
{
    font-family:trebuchet ms, helvetica, sans-serif;
    font-size: 1.1em;
    text-align: justify;
    height: auto;
}
.VLB_img
{
    margin: 4px 4px 4px 4px;
    border: 1px solid black;
}
.VLB_imgLeftAlign
{
    float: left;
    clear: both;
}
.VLB_imgRightAlign
{
    float: right;
    clear: both;
}