.VLB_wrapper
{
    font-family:trebuchet ms, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: green;

}

.VLB_h1
{
    font-size: 2.2em;
    font-weight: bold;
    color: #900;
}
.VLB_h2
{
    font-size: 1.8em;
    font-weight: bold;
    color: #900;
}

.VLB_p
{
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}

.VLB_redEmphasize
{
    font-weight: bold;
    color: #900;

}
.VLB_leadingCaps
{
    text-transform: uppercase;
    font-weight: bold;
}

.VLB_largeLink
{
    font-size: 1.4em;
    font-weight: bold;
    color: #900;
    text-decoration: none;
}


.VLB_p
{
    font-size: 1.1em;
    text-align: justify;
    height: auto;
}
.VLB_img
{
    margin: 4px 4px 4px 4px;
    border: 1px solid black;
}
.VLB_imgLeftAlign
{
    float: left;

}
.VLB_imgRightAlign
{
    float: right;

}

.VLB_flexBox
{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.VLB_flexElement
{
    min-width: 0;
    max-width: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 4px 4px 4px 4px;
}

.VLB_italicEm
{
    font-size: 12px;
    text-align: center;
}